<meta name="generator" content="Eleventy">
<meta name="robots" content="index, follow">

<link rel="canonical" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="x-default" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-RU" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-BY" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-KZ" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-UA" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-DE" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-ES" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-US" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-PT" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-GR" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-IL" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-LV" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-EE" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-LT" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-PL" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-CA" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-GB" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<link rel="alternate" hreflang="ru-CZ" href="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">

<meta name="description" content="{{ description | default(site.description) | safe }}">
<meta property="og:locale" content="ru_RU">
<meta property="og:locale:alternate" content="ru_KZ">
<meta property="og:locale:alternate" content="ru_BY">
<meta property="og:locale:alternate" content="ru_UA">
<meta property="og:locale:alternate" content="ru_DE">
<meta property="og:locale:alternate" content="ru_ES">
<meta property="og:locale:alternate" content="ru_US">
<meta property="og:locale:alternate" content="ru_PT">
<meta property="og:locale:alternate" content="ru_GR">
<meta property="og:locale:alternate" content="ru_IL">
<meta property="og:locale:alternate" content="ru_LV">
<meta property="og:locale:alternate" content="ru_EE">
<meta property="og:locale:alternate" content="ru_LT">
<meta property="og:locale:alternate" content="ru_PL">
<meta property="og:locale:alternate" content="ru_CA">
<meta property="og:locale:alternate" content="ru_GB">
<meta property="og:locale:alternate" content="ru_CZ">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title | default(site.title) | safe }}">
<meta property="og:url" content="{{ site.url | stripHtmlExtension }}{{ page.url | stripHtmlExtension }}">
<meta property="og:image" content="{{ site.url }}{{ image | default(site.image) }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:description" content="{{ description | safe }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title | default(site.title) | safe }}">
<meta name="twitter:description" content="{{ description | default(site.description) | safe }}">
<meta name="twitter:site" content="{{ site.name }}">
<meta name="twitter:image" content="{{ site.url }}{{ image | default(site.image) }}">

<meta property="og:article:published_time" content="{{ date | date('yyyy-LL-dd\'T\'HH:mm:ssZZ') }}">
<meta property="og:article:modified_time" content="{{ last_modified_at | date('yyyy-LL-dd\'T\'HH:mm:ssZZ') }}">

<link rel="preconnect" href="https://res.cloudinary.com">
<meta name="keywords" content="{{ keywords }}">
<meta name="yandex-verification" content="e41ff5e9244f15b0">


<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#fefefe">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">