.language-terminal{position:relative;margin-block:1.2em;padding:1.4em;border:1px solid rgba(255,255,255,.8);border-radius:.125em;box-shadow:0 .25em 1em #393e4640;background-color:#393e46;color:#d1d1d1;width:100%;max-width:90vw;overflow-x:scroll;font-size:.8em;-webkit-overflow-scrolling:touch;text-align:start;white-space:pre;word-spacing:normal;word-break:normal}

.modelfile-code,
pre code {
  line-height: 1.4;
}

.modelfile-code p,
pre code p {
  margin: 0.3em 0;
}