.navbar-logo {
  background-image: url(Images/logo/logo@2x.webp);
  background-image: image-set(
    url(Images/logo/logo.avif) type("image/avif") 1x,
    url(Images/logo/logo@2x.avif) type("image/avif") 2x,
    url(Images/logo/logo.webp) type("image/webp") 1x,
    url(Images/logo/logo@2x.webp) type("image/webp") 2x,
    url(Images/logo/logo.png) type("image/png") 1x,
    url(Images/logo/logo@2x.png) type("image/png") 2x
  );
  border-radius: 50%;
  width: var(--space-l);
  height: var(--space-l);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: var(--space-s);
  align-items: center;
  margin-top: var(--space-l);
  // margin-bottom: var(--space-xl-4xl);
}

.logoside {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: var(--space-xs);
  line-height: 1;
  align-items: center;
}

.logo__title {
  font-size: var(--step-1);
  font-weight: bold;
}

.logo__title--link {
  color: var(--text-colour);
  text-decoration: none;

  &::hover {
    text-decoration: none;
  }
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  font-size: var(--step--1);
  row-gap: 0.5em;
}

.logo__title {
  margin: 0 0 0.2em 0;
  font-weight: bold;
  font-size: var(--step-0);
}

.menu__button {
  z-index: 1;
  display: block;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.menu__button:focus-visible {
  outline: 3px solid var(--link-active);
}

.menu__icon {
  display: block;
  stroke: var(--text-colour);
}

.menu__icon:hover {
  stroke: var(--text-colour);
}

.menu__icon-menu,
.menu__button--open .menu__icon-cross {
  display: block;
}

.menu__icon-cross,
.menu__button--open .menu__icon-menu {
  display: none;
}

.menu-header__wrapper {
  padding: 2.3em 0;
}

.menu__header {
  display: none;
  transition: all 5s;
}

@media (max-width: 639px) {
  .menu__header--open {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    overflow: hidden;
    transition: all 5s;
    margin-bottom: 1em;
  }

  .menu__header__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 12px;
  }

  .item__title {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .item__content {
    grid-column: 1/-1;
    grid-row: 2;
  }
}

@media (min-width: 640px) {
  .menu__header--open {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    overflow: hidden;
    transition: all 5s;
    margin-bottom: 1em;
  }
}

@media (min-width: 640px) {
  .menu__header__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
}

.header__item--bleed {
  grid-column: 1/-1;
}

@media (min-width: 640px) {
  .header__item--bleed {
    grid-column: 1/-1;
  }
}

.menu--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__li {
  margin: 0.65em 0 0.65em 0;
}

.nav__li--selected {
  box-shadow: none;
  background-color: var(--selected-bg-color);
  border-radius: 1px;
  padding: 4px;
  text-decoration: none;
  color: var(--text-colour);
}

