

.hero__background {
  background-image: url("Images/money.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(29, 29, 31, 0.6);
  background-blend-mode: multiply;
  color: #fefefe;
 
}
