{% extends "src/_layouts/base.njk" %}

{% block content %}
<article>
    {% set currentDate = date %}
    {% if breadcrumb %}
      {% include "breadcrumbs.njk" %}
    {% endif %}
    
    <h1 class="page__name">{{ name | safe }}</h1>

    {% if last_modified_at %}
    <p class="italic">обновлено: <time datetime="{{ last_modified_at | date('yyyy-LL-dd\'T\'HH:mm:ssZZ') }}">
      {{ last_modified_at | dateToFormat }}</time></p>
    {% endif %}
    
    <div class="divider"></div>

    <div class="main__section">
      <div></div>
      <div class="small text row-gap--m ">
        {{ content | safe }}
      </div>
    </div>

    {% include "related.njk" %}
</article>


{% endblock %}