<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {% if breadcrumb and breadcrumb.length > 0 %}
        {% for item in breadcrumb %}
        {
          "@type": "ListItem",
          "position": {{ loop.index }},
          "name": "{{ item.name }}",
          "item": "{{ site.url }}{{ item.url | stripHtmlExtension }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
        ,
      {% endif %}
      {
        "@type": "ListItem",
        "position": {{ (breadcrumb and breadcrumb.length > 0) ? breadcrumb.length + 1 : 1 }},
        "name": "{{ title }}",
        "item": "{{ site.url }}{{ page.url | stripHtmlExtension }}"
      }
    ]
  }
</script>
