---
layout: base
title: 404 Error
permalink: /404.html
description: "Error 404"
excludeFromSitemap: true
---



<div class="row-gap--xs">
    <h1 class="h1">Такой страницы нет</h1>
    
    <p class="basic">Зато у нас есть много других страниц, например, <a class="link" href="/">главная</a>.</p>


</div>

