---
layout: base
title: О проекте psycareer.ru - Развитие карьеры психологов
description: "Узнайте о проекте psycareer: миссия, цели и ценности. Помогаем частным психологам развивать карьеру, привлекать клиентов и зарабатывать консультациями."
keywords: развитие карьеры психолога, частный психолог, маркетинг для психологов, привлечение клиентов
currentUrl: /about/
permalink: "{{ currentUrl }}"
date: "2010-02-01"
last_modified_at: "2024-06-30"
breadcrumb:
  - { name: "Главная", url: "/" }
---

<h1 class="section__name">О проекте </h1>
<p class="basic mb-1 text">Добро пожаловать на&nbsp;{{ site.name }}&nbsp;&mdash; ресурс для психологов, развивающих частную практику. Мы&nbsp;помогаем специалистам выстроить успешную карьеру, предоставляя экспертные материалы по&nbsp;продвижению психологических услуг.</p>





<section class="main__section">
  <h2 class="">Подписка</h2>

  <div class="small text row-gap--xs">


    <p>Благодарим вас за интерес к проекту psycareer. Чтобы развивать ресурс дальше, мы открыли страницу на&nbsp;Patreon. Поддержка проекта — ваше добровольное решение.</p>

    <p class="bold">Подписчики Patreon получают:</p>

    <ul class="list--leftpadding row-gap--xs">
      <li><span class="italic">Ранний доступ к&nbsp;материалам:</span> Новые статьи и&nbsp;материалы будут доступны в&nbsp;первую очередь вам.
      </li>
      <li><span class="italic">Эксклюзивный контент:</span> Доступ к&nbsp;уникальным статьям и&nbsp;материалам, которых не&nbsp;будет в&nbsp;открытом доступе.</li>
      <li><span class="italic">Участие в&nbsp;обсуждениях:</span> Возможность комментировать статьи и&nbsp;влиять на&nbsp;будущее контента через
        участие в&nbsp;голосованиях.</li>
      <li><span class="italic">Персональные консультации:</span> Возможность задавать вопросы и&nbsp;получать ответы в&nbsp;формате отдельных
        статей или кратких Q&amp;A постов.</li>
    </ul>
    <p class="mb-1"> <a class="link" href="https://www.patreon.com/psycareer">Ссылка на Patreon</a></p>


    <div itemscope itemtype="http://schema.org/ImageObject">
      <link itemprop="url"
        href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/psycareer/about/andres-ayrton.jpg">
      <img class="image" loading="lazy" decoding="async"
        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/psycareer/about/andres-ayrton.jpg"
        srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/psycareer/about/andres-ayrton.jpg 640w, 
        https://res.cloudinary.com/bartoshevich/image/upload/w_800/f_auto,q_auto/psycareer/about/andres-ayrton.jpg 800w,
        https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/psycareer/about/andres-ayrton.jpg  1200w, 
        https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/psycareer/about/andres-ayrton.jpg  1980w, 
        https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/psycareer/about/andres-ayrton.jpg  2500w,
        https://res.cloudinary.com/bartoshevich/image/upload/w_3000/f_auto,q_auto/psycareer/about/andres-ayrton.jpg  3000w,
        https://res.cloudinary.com/bartoshevich/image/upload/w_4000/f_auto,q_auto/psycareer/about/andres-ayrton.jpg  4000w,
        https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/psycareer/about/andres-ayrton.jpg 6000w"
        sizes="100vw"
        alt="Фотография мужчины и счастливой женщины, которые приветствуют друг друга, символизирующая поддержку сообщества psycareer на Patreon"
        width="6000" height="4000" itemprop="contentUrl">
      <div class="figcaption">
        <p>Изображение носит иллюстративный характер. Фото: Andres Ayrton</p>
      </div>

    </div>

  </div>

</section>




<section class="main__section">
  <h2 class="">Реклама на сайте, <br>Предложение услуг</h2>

  <div class="small text row-gap--xs ">
    <p class="mb-1">Мы&nbsp;не&nbsp;размещаем рекламу и&nbsp;не&nbsp;нуждаемся в&nbsp;услугах копирайтеров. Пожалуйста,
      не&nbsp;присылайте такие предложения&nbsp;&mdash; они сразу отправляются в&nbsp;спам. </p>


    <div itemscope itemtype="http://schema.org/ImageObject">
      <link itemprop="url"
        href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg">
      <img class="image" loading="lazy" decoding="async"
        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg"
        srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg 640w, 
          https://res.cloudinary.com/bartoshevich/image/upload/w_800/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg 800w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg  1200w, 
          https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg  1980w, 
          https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg  2500w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_3000/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg  3000w,
          https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1719927909/psycareer/about/silverkblack.jpg 3840w"
        sizes="100vw"
        alt="Ноутбук с печатающим человеком, символизирующий нежелательные письма и предложения на psycareer"
        width="3840" height="2160" itemprop="contentUrl">
      <div class="figcaption">
        <p>Изображение носит иллюстративный характер. Фото: Виталий Гариев</p>
      </div>

    </div>


  </div>

</section>


<section class="main__section">
  <h2 class="">Использование сайта</h2>

  <div class="small text row-gap--xs">
    <p >При использовании материалов сайта разместите активную ссылку на&nbsp;источник в&nbsp;первом абзаце текста. </p>
    
    <p class="mb-1">Мы&nbsp;отслеживаем копирование контента. В&nbsp;случае публикации без указания источника материал будет удален по&nbsp;нашему запросу к&nbsp;хостинг-провайдеру. Соблюдение авторских прав сохранит вашу репутацию и&nbsp;поможет развитию проекта. </p>

    <div itemscope itemtype="http://schema.org/ImageObject">
      <link itemprop="url"
        href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg">
      <img class="image" loading="lazy" decoding="async"
        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg"
        srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg 640w, 
          https://res.cloudinary.com/bartoshevich/image/upload/w_800/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg 800w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg  1200w, 
          https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg  1980w, 
          https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg  2500w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_3000/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg  3000w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_4000/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg  4000w,
          https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1719928813/psycareer/about/pavel-danilyuk.jpg 6016w"
        sizes="100vw" alt="Фемида, богиня правосудия, символизирующая защиту авторских прав на psycareer"
        width="6016" height="4016" itemprop="contentUrl">
      <div class="figcaption">
        <p>Изображение носит иллюстративный характер. Фото: Павел Данилюк</p>
      </div>

    </div>

  </div>

</section>




<section class="main__section">
  <h2 class="">История</h2>


  <div class="small text row-gap--xs">
    <p class="mb-1">Проект psycareer основал в&nbsp;2010 году Дмитрий Бартошевич. По первому образованию он клинический психолог,
      но реализовал себя в сфере маркетинга. Со временем Дмитрий заметил, что
      однокурсники и&nbsp;знакомые психологи все чаще обращаются к&nbsp;нему за&nbsp;советами по&nbsp;продвижению услуг.
      Это и&nbsp;послужило толчком к&nbsp;созданию ресурса. Сегодня Дмитрий&nbsp;&mdash; <a class="link"
        href="https://bartoshevich.by/">эксперт по&nbsp;маркетингу и&nbsp;развитию брендов</a>&nbsp;&mdash;
      сосредоточен на&nbsp;основной работе, а&nbsp;проект psycareer поддерживается командой волонтеров.</p>
    <div itemscope itemtype="http://schema.org/ImageObject">
      <link itemprop="url"
        href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1607967340/site/bartoshevich_adv.jpg">
      <img class="image"
        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1607967340/site/bartoshevich_adv.jpg"
        srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_400/f_auto,q_auto/v1607967340/site/bartoshevich_adv.jpg 400w, https://res.cloudinary.com/bartoshevich/image/upload/w_800/f_auto,q_auto/v1607967340/site/bartoshevich_adv.jpg 800w, https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1607967340/site/bartoshevich_adv.jpg 1200w, https://res.cloudinary.com/bartoshevich/image/upload/w_1500/f_auto,q_auto/v1607967340/site/bartoshevich_adv.jpg 1500w, https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1607967340/site/bartoshevich_adv.jpg 2048w"
        sizes="100vw" alt="Дмитрий Бартошевич, эксперт по марктеингу и развитию брендов" title="Дмитрий Бартошевич"
        width="2048" height="1080" itemprop="contentUrl">
      <div class="figcaption">
        <p>Дмитрий Бартошевич. Фото: Александр Бондарев</p>
      </div>
    </div>

  </div>

</section>