---
title: "Нет подключения к интернету"
layout: "base"
permalink: "/offline/"
currentUrl: "/offline/"
description: "Нет подключения к интернету"
breadcrumb:
  - { name: "Главная", url: "/" }
excludeFromSitemap: true
---

<div class="row-gap--xs">
    <h1 class="h1">Вы&nbsp;— офлайн</h1>
    <p class="bold">Плохая новость</p>
    <p> Интернет соединение потеряно :-( </p>
    <p class="bold">Хорошая новость</p>
    <p>Все статьи, которые вы&nbsp;открывали ранее, доступны. Ссылки в&nbsp;меню сайта также работают.</p>

</div>




              





 
        


 

