---
layout: base
title: Ресурсы для профессионального роста частных психологов
description: Найдите лучшие профессиональные сообщества, образовательные программы и другие полезные ресурсы для психологов. Все ссылки проверены и отобраны экспертами.
currentUrl: /poleznye-ssylki/
permalink: "{{ currentUrl }}"
date: "2010-02-01"
last_modified_at: "2024-06-30"
image: /assets/images/ssylki/tizer__ssylki.webp
breadcrumb:
  - { name: "Главная", url: "/" }
---



<h1 class="section__name">Полезные ресурсы <br>для частных психологов</h1>
<p class="basic mb-1 text">Собрали проверенные ресурсы для профессионального развития: образовательные программы, профессиональные сообщества и&nbsp;другие полезные материалы.</p>


<section class="main__section">
    <h2 class="">Профессиональные объединения</h2>
    <div>

        <div class="section__content--text">

                <ul class="list--leftpadding small row-gap--xs">
                        <li><a class="link" href="http://appme.ru/" rel="noopener noreferrer">Альянс помогающих практик «ПроБоно»</a></li>
                        <li><a class="link" href="http://rusata.ru/" rel="noopener noreferrer">Арт-терапевтическая ассоциация</a></li>
                        <li><a class="link" href="https://sandpsyassociation.ru/" rel="noopener noreferrer">Ассоциация песочной терапии</a></li>
                        <li><a class="link" href="https://www.atdt.ru/" rel="noopener noreferrer">Ассоциация танцевально-двигательной терапии</a></li>
                        <li><a class="link" href="https://www.apa.org/" rel="noopener noreferrer">Американская психологическая ассоциация (APA)</a></li>
                        <li><a class="link" href="https://www.bps.org.uk/" rel="noopener noreferrer">Британское психологическое общество (BPS)</a></li>
                        <li><a class="link" href="https://efpsa.org/" rel="noopener noreferrer">Европейская федерация ассоциаций студентов-психологов (EFPSA)</a></li>
                        <li><a class="link" href="https://www.efpa.eu/" rel="noopener noreferrer">Европейская федерация психологических ассоциаций (EFPA)</a></li>
                        <li><a class="link" href="https://iaapsy.org/" rel="noopener noreferrer">Международная ассоциация прикладной психологии (IAAP)</a></li>
                        <li><a class="link" href="https://www.maap.pro/" rel="noopener noreferrer">Московская ассоциация аналитической психологии</a></li>
                        <li><a class="link" href="https://www.npa-ua.org/" rel="noopener noreferrer">Национальная психологическая ассоциация (Украина)</a></li>
                        <li><a class="link" href="https://spp.org.ru/" rel="noopener noreferrer">Общество психоаналитической психотерапии</a></li>
                        <li><a class="link" href="https://rpa-russia.ru/" rel="noopener noreferrer">Российская психотерапевтическая ассоциация</a></li>
                        <li><a class="link" href="https://roapinfo.ru/" rel="noopener noreferrer">Российское общество аналитической психологии</a></li>
                        <li><a class="link" href="https://psychiatr.ru/" rel="noopener noreferrer">Российское общество психиатров</a></li>
                        <li><a class="link" href="http://psyrus.ru/" rel="noopener noreferrer">Российское психологическое сообщество</a></li>
                    </ul>
        </div>
    </div>
</section>





<section class="main__section">
    <h2 class="">Образование и&nbsp;повышение квалификации</h2>
    <div>

        <div class="section__content--text">

            <ul class="list--leftpadding small row-gap--xs">
                <li> <a class="link" href="http://www.vegi.ru/" rel="noopener noreferrer">Восточно-Европейский гештальт
                        институт</a></li>
                <li> <a class="link" href="https://eeip.ru/" rel="noopener noreferrer">Восточно-Европейский институт
                        психоанализа</a></li>
                <li> <a class="link" href="https://igisp.ru/" rel="noopener noreferrer">Институт групповой
                        и&nbsp;семейной психологии и&nbsp;психотерапии</a></li>
                <li> <a class="link" href="https://hepi.lt/ru/hepi-ru/" rel="noopener noreferrer">Институт
                        гуманистической и&nbsp;экзистенциальной психологии</a></li>
                <li> <a class="link" href="https://www.imaton.ru/" rel="noopener noreferrer">Институт практической
                        психологии
                        «Иматон» </a></li>
                <li> <a class="link" href="https://www.psychol.ru/" rel="noopener noreferrer">Институт практической
                        психологии
                        и&nbsp;психоанализа </a></li>
                <li> <a class="link" href="https://ipmp-spb.ru/" rel="noopener noreferrer">Институт психотерапии
                        и&nbsp;медицинской психологии&nbsp;им. Б.Д. Карвасарского</a></li>
                <li> <a class="link" href="https://gestalt.ru/" rel="noopener noreferrer">Московский гештальт
                        институт</a>
                </li>
                <li> <a class="link" href="https://inpsycho.ru/" rel="noopener noreferrer">Московский институт
                        психоанализа</a></li>
                <li> <a class="link" href="https://www.mniip.org/" rel="noopener noreferrer">Московский НИИ психиатрии
                    </a></li>
                <li> <a class="link" href="https://psy-msu.ru/" rel="noopener noreferrer">Факультет психологии МГУ</a>
                </li>
                <li> <a class="link" href="https://psy.spbu.ru/" rel="noopener noreferrer">Факультет психологии
                        СПбГУ</a>
                <li> <a class="link" href="https://www.coursera.org/browse/health/psychology"
                        rel="noopener noreferrer">Курсы психологии на Coursera (на английском)</a>
                </li>
                <li> <a class="link" href="https://www.udemy.com/topic/psychology-fundamentals/"
                        rel="noopener noreferrer">Курсы психологии на Udemy (на английском)</a>
                </li>
                <li> <a class="link" href="https://www.edx.org/learn/psychology#browse-courses"
                        rel="noopener noreferrer">Курсы психологии на edX (на английском)</a>
                </li>


            </ul>
        </div>
    </div>
</section>




<section class="main__section">
    <h2 class="">Разное</h2>
    <div>

        <div class="section__content--text">

            <ul class="list--leftpadding small row-gap--xs">

                <li> <a class="link" href="http://hpsy.ru/" rel="noopener noreferrer">Сайт «экзистенциальная
                        и&nbsp;гуманистическая психология»</a></li>
                <li> <a class="link" href="https://bartoshevich.by/blog/">Блог о&nbsp;маркетинге</a></li>
                <li> <a class="link" href="https://www.vitaline.by/" rel="noopener">Сайт кризисного психолога</a></li>
            </ul>
        </div>
    </div>
</section>